<template name="typeahead">
    <div style="display:flex; alignItems:center; height:50px; alignContent:center; width:100%">
        <div style="display:flex; flex-direction:column; alignItems :center; height:50px; alignContent:center; padding-left:10px;">
            <div style="color:black; font-size:14px; font-weight:bold; padding-bottom:0">
                {{value}}
            </div>
        </div>
        <div style="flex-grow : 1"></div>
    </div>
</template>

<template name="typeaheadInject">
    <input id={{id}} class="typeahead box-input" type="text"
        style="font-size:{{fontSize}}px"
        placeholder={{placeholder}}
        data-template={{dataTemplate}}
        data-source="sourceData"
        data-select="selected"
        data-selected="selected"
        autoComplete="off" spellcheck="off"/>
</template>

<!-- Sets up the typeahead input form and has much of the inline styling -->

<template name="contactsTypeahead">
    <div style="display : flex; alignItems : center; height: 50px; alignContent: center; width: 100%">
        <div style="border: 1px solid black; height: 40px; width: 40px; border-radius: 40px">
            <img style="height: 40px; width: 40px; border-radius: 40px" src="{{avatar}}"/>
        </div>
        <div style="display : flex; flex-direction: column; alignItems : center; height: 50px; alignContent: center; padding-left: 10px;">
            <div style="color : black; font-size : 14px; font-weight: bold; padding-bottom: 0">{{value}} </div>
            {{#if userId}}
                <div style="color: gray; font-size: 12px; margin-top: -5px">Using Gugo</div>
            {{else}}
                <div style="color : gray; font-size : 12px; margin-top: -5px">{{phone}} </div>
            {{/if}}
        </div>
        <div style="flex-grow : 1"></div>
        <!-- The below icon is styled, just having a hard time getting alignment right -->
        <i class="fa fa-plus-circle"
           style="color: #165F93 !important; font-size: 24px; width: 24px; height: 24px; flex-shrink : 1; padding-top : 7px"></i>
    </div>
</template>

<template name="contactsTypeaheadInject">
    <input class="typeahead box-input" name="extras" type="text"
           placeholder="Type contact name"
           autoComplete="off" spellcheck="off"
           data-template="contactsTypeahead"
           data-source="dataSource"
           data-select="selected"
           data-selected="selected"/>
</template>