.comp-article {
  h2, h3, h4, h5, h6 {
    //text-transform: uppercase;
  }
  p {
    font-family: "sans-serif";
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2em;
    color: #424242;
  }
  ul.item-titles {
    li {
      font-weight: 600;
    }
  }
}

.clear-text-fade {
  opacity : 0.01
}

.clear-text-fade.clear-text-fade-enter {
  opacity : 1;
  transition : opacity 3000ms ease-in;
}

.clear-text-fade.clear-text-fade-appear {
  opacity : 0.01;
}

.clear-text-fade.clear-text-fade-appear-enter {
  opacity : 1;
  transition : opacity 3000ms ease-in;
}